---
import Button from "../components/CubeBtn.astro";
import type { ButtonItem } from "../Interface/site";

const buttons: ButtonItem[] = [
  {
    href: "https://github.com/czhaozm/JSZK/releases/download/jszk/JSZK.zip",
    label: "下载",
    itemColor: "var(--white)",
    bgColor: "var(--primary-light)",
    isRedirect: true,
    iconSvg: `<svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"> 
      <path d="M12 3 L12 16" /> 
      <path d="M8 13 L12 17 L16 13" /> 
      <path d="M4 21 L20 21" />
    </svg>`,
  },
  {
    href: "https://www.bilibili.com/video/BV1Vqjpz5ETy",
    label: "教程",
    itemColor: "var(--white)",
    bgColor: "var(--primary-light)",
    isRedirect: true,
    iconSvg: `<svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="3" y="3" width="18" height="13" rx="1" fill="currentColor" stroke="currentColor" stroke-width="1.2" stroke-linejoin="round"></rect><rect x="4.5" y="4.5" width="15" height="10" rx="0.5" fill="none" stroke="currentColor" stroke-width="1"></rect> <rect x="9" y="17" width="6" height="1.5" rx="0.5" fill="currentColor"></rect> <rect x="11" y="16" width="2" height="2" fill="currentColor"></rect></svg>`,
  },
  {
    href: "https://www.bilibili.com/video/BV1Vqjpz5ETy",
    label: "海报",
    itemColor: "var(--white)",
    bgColor: "var(--primary-light)",
    isRedirect: false,
    iconSvg: `<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><rect x="3" y="3" width="18" height="18" rx="2" ry="2"></rect> <circle cx="8.5" cy="8.5" r="1.5"></circle><polyline points="3 16 7 12 11 14 21 6"></polyline></svg>`,
  },
  {
    href: "./about/",
    label: "代言",
    itemColor: "var(--white)",
    bgColor: "var(--primary-light)",
    isRedirect: false,
    iconSvg: `<svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="12" cy="12" r="10"/><path d="M12 2L14.5 9.5H22L16 14.5L18.5 22L12 17.5L5.5 22L8 14.5L2 9.5H9.5L12 2Z" fill="white"/></svg>`,
  },
  {
    href: "https://chat.deepseek.com/",
    label: "AI",
    itemColor: "var(--white)",
    bgColor: "var(--primary-light)",
    isRedirect: true,
    iconSvg: `<p style="font-size: 25px; font-weight: bold;">Agent</p>`,
  },
  {
    href: "/about/",
    label: "反馈",
    itemColor: "var(--white)",
    bgColor: "var(--primary-light)",
    isRedirect: true,
    iconSvg: `<p style="font-size: 25px; font-weight: bold;">Q&A</p>`,
  },
  {
    href: "./blog/",
    label: "更多",
    itemColor: "var(--white)",
    bgColor: "var(--primary-light)",
    isRedirect: false,
    iconSvg: `<p style="font-size: 25px; font-weight: bold;"><...></p>`,
  },
];
---

<script lang="ts">
  const textLine1 = "轻松一键,";
  const textLine2 = "告别所有重复操作";
  const speed = 50; // 打字速度（毫秒/字）
  const firstDelayTime = 320;

  async function delay(ms) {
    return await new Promise((resolve) => setTimeout(resolve, ms));
  }

  async function typeText(element, text) {
    for (let i = 0; i < text.length; i++) {
      // 逐字添加
      if (element.id === "line1" && i === 2) {
        // 第一个字后延迟1s
        await delay(firstDelayTime);
      }
      element.textContent += text.charAt(i);
      await delay(speed);
    }
  }

  async function startTyping() {
    const line1 = document.getElementById("line1");
    const line2 = document.getElementById("line2");
    if (!line1 || !line2) return;

    // 先打第一行
    line1.classList.add("typing-cursor");
    await typeText(line1, textLine1);
    line1.classList.remove("typing-cursor");
    // 停顿片刻，再打第二行
    await delay(400);
    line2.classList.add("typing-cursor");
    await typeText(line2, textLine2);
    line2.classList.remove("typing-cursor");
  }

  // 页面加载完成后启动动画
  document.addEventListener("DOMContentLoaded", startTyping);
</script>

<div
  style="padding-top: 140px; padding-left: 24px; padding-right: 24px;"
  class="banner-body relative text-center pb-10"
>
  <!-- 语言标签 -->
  <p
    class="animate-fade-in-up absolute top-10 right-10 text-lg text-[var(--gray)] px-4 pointer-events-none"
  >
    JSZK
  </p>

  <!-- logo & title -->
  <div
    class="animate-fade-in-up flex items-center justify-center gap-4 h-[68px]"
  >
    <img
      src="/ZK.ico"
      alt="键鼠智控"
      class="w-[68px] h-[68px] object-contain"
    />
    <h1 class="text-[48px] font-semibold text-[var(--white)] tracking-wider">
      键鼠智控
    </h1>
  </div>

  <!-- typing animate -->
  <div
    class="animate-fade-in-up h-[140px] w-full text-3xl text-[var(--white)] mt-10 mb-10 leading-[1.8]"
  >
    <p class="typing-line" id="line1"></p>
    <p class="typing-line" id="line2"></p>
  </div>

  <!-- button box -->
  <div
    class="animate-fade-in-up flex flex-row flex-wrap justify-center items-center gap-[45px] max-w-full px-4 ax-md:gap-[70px] max-md:px-4"
  >
    {buttons.map((btn: ButtonItem) => <Button item={btn} />)}
  </div>
</div>
