---
// layout.astro
---

<!doctype html>
<html lang="zh-cn">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>键鼠智控，轻松一键，告别重复</title>
    <link rel="icon" type="image/png" href="/ZK.ico" />
  </head>
  <body>
    <slot name="content" />
    <slot name="footer" />
  </body>
</html>
